<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Flowchart and procedure</title>
</head>
<body>
    <header class="header">

        <a href="#" class="logo"> Speak Up Buddy</a>
    
        <nav class="navbar">
            <a href="/Templates/index.html">home</a>
            <a href="/Templates/index.html">Features</a>
            <a href="#">Flowchart and Procedure</a>
            <a href="/Templates/Project_outcomes.html">Project Outcomes</a>
            <a href="/Templates/developers.html">Developers</a>
            <a href="/Templates/testnow.html"><button class="btn" id="test">Try Now</button></a>
        </nav>
    </header>

    <section class="products" id="Flowchart">

        <h1 class="heading" id="head"><span>Flowchart and Procedure</span> </h1>
    
        <div class="swiper product-slider">
    
            <div class="swiper-wrapper">
    
                <div class="swiper-slide box">
                    <h3 class="flow1t">MODELS</h3>
                    <a href="#" class="flow11"><img src="/Static/image/f1.svg" height="100px" alt="" class="flow1"></a>
                    <h3 class="flow1t">WEBSITE</h3>
                    <a href="#" class="flow"></a><img src="/static/image/f2.svg" height="100px" alt="" class="flow"></a>
                </div>     
                
            </div>
    
        </div>

        <section class="footer">

            <div class="box-container">
        
                <div class="box">
                    <a href="#" class="logo"> Speak Up Buddy</a>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
        
                <div class="box">
                    <h3>contact info</h3>
                    <a href="#" class="links"> <i class="fas fa-phone"></i> 8394998335 </a>
                    <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bulandshahr, India </a>
                    <a href="#" class="links"> <i class="fas fa-phone"></i> 8789242056 </a>
                    <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bihar, India </a>
                    <a href="#" class="links"> <i class="fas fa-phone"></i> 9354007718 </a>
                    <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Ghaziabad, India </a>
                </div>
        
                <div class="box">
                    <h3>quick links</h3>
                    <a href="/Templates/index.html" class="links"> <i class="fas fa-arrow-right"></i> home </a>
                    <a href="/Templates/index.html" class="links"> <i class="fas fa-arrow-right"></i> features </a>
                    <a href="/Templates/Flowchart_Procedure.html" class="links"> <i class="fas fa-arrow-right"></i> flowchart and Procedure</a>
                    <a href="/Templates/Project_outcomes.html" class="links"> <i class="fas fa-arrow-right"></i> Project Outcomes </a>
                    <a href="/Templates/developers.html" class="links"> <i class="fas fa-arrow-right"></i> Developers </a>
                </div>
    
            </div>
        
        </section>
        <script src="/static/js/script.js"></script>
</body>
</html>