<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <title>Speak Up Buddy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">

        <a href="#" class="logo">Speak Up Buddy</a>
        
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#features">Features</a>
            <a href="/Templates/Flowchart_Procedure.html">Flowchart and Procedure</a>
            <a href="/Templates/Project_outcomes.html">Project Outcomes</a>
            <a href="/Templates/developers.html">Developers</a>
            <a href="/Templates/testnow.html" ><button class="btn" id="test">Try Now</button></a>
        </nav>
    </header>

    <section class="home" id="home">

        <div class="content">
            <h3>Facial Expression Detection, Voice Emotions and <span>Text Sentiments/Emotions</span> features for you</h3>
            <div class="para">
                This Application will be helpful for the students in Personality Development as well as in increasing their confidence level while speaking in front of audience.
            </div>
            <a href="/Templates/testnow.html"><button class="btn testbtn">Try Now</button></a>
        </div>
    
    </section>

    <section class="features" id="features">

        <h1 class="heading"><span>features</span></h1>
    
        <div class="box-container">
    
            <div class="box">
                <img src="/Static/image/Feature_1_Face-Recognition.jpg" alt="">
                <h3>Facial Expression Detection</h3>
                <p>This feature will be helpful for the user to know how much confident he is while delivering his/her thoughts.</p>
                <a href="#" class="btn">read more</a>
            </div>
    
            <div class="box">
                <img src="/Static/image/Feature_2_Voice_Emotion.jpg" alt="">
                <h3>Voice Emotion</h3>
                <p>This feature will be helpful to the user in improving his speaking skills.</p>
                <a href="#" class="btn">read more</a>
            </div>
    
            <div class="box">
                <img src="/Static/image/Feature_3_Face-Text_Sentiment.jpg" alt="">
                <h3>Text Sentiments/Emotions</h3>
                <p>This feature includes the Sentiment analysis using NLP to determine whether data is positive, negative or neutral. This feature will be implemented soon!</p>
                <a href="#" class="btn">read more</a>
            </div>
    
        </div>
    
    </section>

    <section class="footer">

        <div class="box-container">
    
            <div class="box">
                <a href="#" class="logo"> Speak Up Buddy</a>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 8394998335 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bulandshahr, India </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 8789242056 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bihar, India </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 9354007718 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Ghaziabad, India </a>
            </div>
    
            <div class="box">
                <h3>quick links</h3>
                <a href="/Templates/index.html" class="links"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="/Templates/index.html" class="links"> <i class="fas fa-arrow-right"></i> features </a>
                <a href="/Templates/Flowchart_Procedure.html" class="links"> <i class="fas fa-arrow-right"></i> flowchart and Procedure</a>
                <a href="/Templates/Project_outcomes.html" class="links"> <i class="fas fa-arrow-right"></i> Project Outcomes </a>
                <a href="/Templates/developers.html" class="links"> <i class="fas fa-arrow-right"></i> Developers </a>
            </div>

        </div>
    
    </section>
    <script src="/static/js/script.js"></script>
</body>
</html>