<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/styleresult.css">
    <title>Speak Up Buddy</title>
</head>
<body>
    <header class="header">

        <a href="#" class="logo"> Speak Up Buddy</a>
    
        <nav class="navbar">
            <a href="http://localhost:5000/">home</a>
            <a href="/Templates/index.html">Features</a>
            <a href="/Templates/Flowchart_Procedure.html">Flowchart and Procedure</a>
            <a href="/Templates/Project_outcomes.html">Project Outcomes</a>
            <a href="/Templates/developers.html">Developers</a>
            <a href="/Templates/testnow.html"><button class="btn" id="test">Try Now</button></a>
        </nav>
    </header>

    <section class="review" id="review">

        <h1 class="heading"><span>Live Testing</span> </h1>

        <h3 class="mt-5" style="text-align: center"></h3>

        <div style="text-align: center">
            <img width="50%" src="{{ url_for('camera') }}">
            <!-- HTML !-->



            <figcaption><a href="http://localhost:5000/result"><button class="button-88" role="button">Result</button></a></figcaption>
        </div>

    </section>


    <section class="footer">

        <div class="box-container">
    
            <div class="box">
                <a href="#" class="logo"> Speak Up Buddy</a>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 8394998335 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bulandshahr, India </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 8789242056 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bihar, India </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 9354007718 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Ghaziabad, India </a>
            </div>
    
            <div class="box">
                <h3>quick links</h3>
                <a href="/Templates/index.html" class="links"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="/Templates/index.html" class="links"> <i class="fas fa-arrow-right"></i> features </a>
                <a href="/Templates/Flowchart_Procedure.html" class="links"> <i class="fas fa-arrow-right"></i> flowchart and Procedure</a>
                <a href="/Templates/Project_outcomes.html" class="links"> <i class="fas fa-arrow-right"></i> Project Outcomes </a>
                <a href="/Templates/developers.html" class="links"> <i class="fas fa-arrow-right"></i> Developers </a>
            </div>

        </div>
    
    </section>
    <script src="/static/js/script.js"></script>
</body>
</html>