<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Project Outcomes</title>
</head>
<body>
    <header class="header">

        <a href="#" class="logo"> Speak Up Buddy</a>
        
        <nav class="navbar">
            <a href="/Templates/index.html">home</a>
            <a href="/Templates/index.html">Features</a>
            <a href="/Templates/Flowchart_Procedure.html">Flowchart and Procedure</a>
            <a href="#Project Outcomes">Project Outcomes</a>
            <a href="/Templates/developers.html">Developers</a>
            <a href="/Templates/testnow.html" ><button class="btn" id="test">Try Now</button></a>
        </nav>
    </header>


    <section class="categories" >

        <h1 class="heading" id="Projectoutcomes"> Project <span>Outcomes</span> </h1>
    
        <div class="box-container">
    
            <div class="box">
                <img src="/Static/image/wonderlane-w1s5H_3Zn48-unsplash.jpg" alt="">
                <h3>This Model will help students and professionals to improve their communication skills</h3>
            </div>
    
            <div class="box">
                <img src="/Static/image/usman-yousaf-OUQz3vzQ8tM-unsplash.jpg" alt="">
                <h3>It Improves their facial expression while speaking</h3>
                <h3>and help them to Talk with others with a better vocal tone</h3>
            </div>
    
            <div class="box">
                <img src="/Static/image/randy-tarampi-U2eUlPEKIgU-unsplash.jpg" alt="">
                <h3>Suggest the text more effective and relevant to the context</h3>
            </div>
    
            <div class="box">
                <img src="/Static/image/history-in-hd-DhwKbmdlJa0-unsplash.jpg" alt="">
                <h3>Overall development of the speaking skills to perform well in front of large audience</h3>
            </div>
    
        </div>
    
    </section>

    
    <section class="footer">

        <div class="box-container">
    
            <div class="box">
                <a href="#" class="logo"> Speak Up Buddy</a>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 8394998335 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bulandshahr, India </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 8789242056 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bihar, India </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> 9354007718 </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Ghaziabad, India </a>
            </div>
    
            <div class="box">
                <h3>quick links</h3>
                <a href="#" class="links"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#" class="links"> <i class="fas fa-arrow-right"></i> features </a>
                <a href="#" class="links"> <i class="fas fa-arrow-right"></i> flowchart and Procedure</a>
                <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Project Outcomes </a>
                <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Developers </a>
            </div>

        </div>
    
    </section>
    <script src="/static/js/script.js"></script>
</body>
</html>